/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .root{
        -fx-background-radius: 0 0 18 18;
    }
    #pane{
        -fx-background-color: #FC3D44;
        -fx-background-radius: 6 6 6 6;
        -fx-alignment:center;
        -fx-background-size: 800 900;
        -fx-border-width: 5;
        -fx-padding: 10;
        -fx-border-radius: 0 0 18 18;
    }
    #hello{
        -fx-background-color:  transparent;
    }
    #closeButton{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #minimizeButton{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #buttonSuperiorLeft{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #buttonSuperiorRight{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #buttonInferiorLeft{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #LabelSupeiorLeft{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #LabelSupeiorReft{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #LabelInfeiorLeft{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #LabelInfeiorRight{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
    #optionsButton{
        -fx-background-color:  transparent;
        -fx-effect: dropshadow( gaussian , black , 6 , 0.0 , 1 , 4 );
    }
}
